body {
    font-size: 24px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
}

table#main {
    margin-left: auto;
    margin-right: auto;
}
td {
    padding: 0.5em;
}

.click {
    cursor: pointer;
    border: 1px solid #ab2424;
    background: #cf7878;
    background: -webkit-gradient(linear, left top, left bottom, from(#d91111), to(#cf7878));
    background: -webkit-linear-gradient(top, #d91111, #cf7878);
    background: -moz-linear-gradient(top, #d91111, #cf7878);
    background: -ms-linear-gradient(top, #d91111, #cf7878);
    background: -o-linear-gradient(top, #d91111, #cf7878);
    padding: 0.25em 0.5em 0.25em 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 24px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    outline:0 !important;
    width: 100%;
}
.click:hover {
    border-color: #a12323;
    background: #a12323;
    color: #ccc;
}
.click:active {
    border-color: #de3535;
    background: #de3535;
}

.disabled, .disabled:hover, .disabled:active {
    border: 1px solid #404040;
    background: #808080;
    background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#808080));
    background: -webkit-linear-gradient(top, #707070, #808080);
    background: -moz-linear-gradient(top, #707070, #808080);
    background: -ms-linear-gradient(top, #707070, #808080);
    background: -o-linear-gradient(top, #707070, #808080);
    color: white;
    cursor: default;
}

.count {
    top: 10px;
    text-align: center;
    text-transform: capitalize;
}

.topright {
    font-size:10px;
    text-align:right;
}

.hidden {
    display: none;
}

@media (max-width: 520px) {
    body, .click {
        font-size: 12px;
    }
}
