body {
    font-size: 24px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
}

table#main, table#settings {
    margin: 0 auto
}

td {
    padding: 0.5em;
}

.click {
    border: 1px solid #ab2424;
    background: #cf7878;
    background: -webkit-gradient(linear, left top, left bottom, from(#d91111), to(#cf7878));
    background: -webkit-linear-gradient(top, #d91111, #cf7878);
    background: -moz-linear-gradient(top, #d91111, #cf7878);
    background: -ms-linear-gradient(top, #d91111, #cf7878);
    background: -o-linear-gradient(top, #d91111, #cf7878);
    padding: 0.25em 0.5em 0.25em 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 24px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
}
.click:hover {
    border-color: #a12323;
    background: #a12323;
    color: #ccc;
}
.click:active {
    border-color: #de3535;
    background: #de3535;
}

.disabled, .disabled:hover, .disabled:active {
    border: 1px solid #404040;
    background: #808080;
    background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#808080));
    background: -webkit-linear-gradient(top, #707070, #808080);
    background: -moz-linear-gradient(top, #707070, #808080);
    background: -ms-linear-gradient(top, #707070, #808080);
    background: -o-linear-gradient(top, #707070, #808080);
    color: white;
    cursor: default;
}

.count {
    top: 10px;
    text-align: right;
    text-transform: capitalize;
    width: 35%;
}

.topright {
    font-size:10px;
    text-align:right;
}

.hidden {
    visibility: hidden;
}

.nodisplay {
    display: none;
}

#message {
    left: 1em;
    top: 0;
    position: absolute;
}

@media (max-width: 640px) {
    body, .click {
        font-size: 12px;
    }
}

button.tab {
    -moz-box-shadow:inset 0 1px 0 0 #099;
    -webkit-box-shadow:inset 0 1px 0 0 #099;
    box-shadow:inset 0 1px 0 0 #099;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0aa), color-stop(1, #077) );
    background:-moz-linear-gradient( center top, #0aa 5%, #077 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00aaaa', endColorstr='#007777');
    background-color:#055;
    -webkit-border-top-left-radius:15px;
    -moz-border-radius-topleft:15px;
    border-top-left-radius:15px;
    -webkit-border-top-right-radius:15px;
    -moz-border-radius-topright:15px;
    border-top-right-radius:15px;
    -webkit-border-bottom-right-radius:0;
    -moz-border-radius-bottomright:0;
    border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
    -moz-border-radius-bottomleft:0;
    border-bottom-left-radius:0;
    text-indent:0;
    border:1px solid #066;
    display:inline-block;
    color:#eee;
    font-size:13px;
    font-weight:bold;
    font-style:normal;
    height:32px;
    line-height:32px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0 #066;
}
button.tab:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #088), color-stop(1, #055) );
    background:-moz-linear-gradient( center top, #088 5%, #055 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#008888', endColorstr='#005555');
    background-color:#044;
}
button.tab:active {
    background:-webkit-gradient( linear, left bottom, left top, color-stop(0.05, #088), color-stop(1, #055) );
    background:-moz-linear-gradient( center top, #088 100%, #055 5% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#005555', endColorstr='#008888');
    background-color:#044;
 }

button {
    cursor: pointer;
    outline:0 !important;
}

button.tab-disabled, button.tab-disabled:hover, button.tab-disabled:active {
    -moz-box-shadow:inset 0 1px 0 0 #1f1f1f;
    -webkit-box-shadow:inset 0 1px 0 0 #1f1f1f;
    box-shadow:inset 0 1px 0 0 #1f1f1f;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #424242), color-stop(1, #000000) );
    background:-moz-linear-gradient( center top, #424242 5%, #000000 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#424242', endColorstr='#000000');
    background-color:#424242;
    -webkit-border-top-left-radius:15px;
    -moz-border-radius-topleft:15px;
    border-top-left-radius:15px;
    -webkit-border-top-right-radius:15px;
    -moz-border-radius-topright:15px;
    border-top-right-radius:15px;
    -webkit-border-bottom-right-radius:0;
    -moz-border-radius-bottomright:0;
    border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
    -moz-border-radius-bottomleft:0;
    border-bottom-left-radius:0;
    text-indent:0;
    border:1px solid #242423;
    display:inline-block;
    color:#b3b1b3;
    font-size:13px;
    font-weight:bold;
    font-style:normal;
    height:32px;
    line-height:32px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0 #4f4f4d;
}